# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Carpetas de trabajo del bot (NO subir a GitHub)
downloads/
edited/
logs/
db/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
